@model IEnumerable<IS_11_Coursova.Models.Discipline>

@{
    ViewBag.Title = "Index";
}

<h2>Disciplines</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DisciplineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DisciplineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DisciplineID })
        </td>
    </tr>
}

</table>
